<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page.title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="shortcut icon"         href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/styles/default.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
  </head>
  <body>
    <header>
      <h1>
        <img src='/images/logo.png' alt='C' title='Crafted Code' />
        rafted
        <span>
          code
        </span>
      </h1>
    </header>
    {{content}}
    <footer>
      <h1>&copy; 2011 - 2014 Crafted Code Limited</h1>
      <p>Registered Company No: 7762190</p>
    </footer>
  </body>
</html>
